body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F25050;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20vh;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 400px) {
  @keyframes moveDuck {
      0% { transform: translate(12vw, 10px); }
      50% { transform: translate(84vw, 0) rotateY(0deg); }
      51% { transform: translate(84vw, 0) rotateY(180deg); }
      100% { transform: translate(12vw, 10px) rotateY(180deg); }
  }
  
  @keyframes moveDuck2 {
      0% { transform: translate(84vw, 0) rotateY(180deg); }
      50% { transform: translate(12vw, 10px) rotateY(180deg); }
      51% { transform: translate(12vw, 10px) rotateY(0deg); }
      100% { transform: translate(84vw, 0); }
  }
}

@media (min-width: 401px) {
  @keyframes moveDuck {
      0% { transform: translate(12vw, 10px); }
      50% { transform: translate(105vw, 0) rotateY(0deg); }
      51% { transform: translate(105vw, 0) rotateY(180deg); }
      100% { transform: translate(12vw, 10px) rotateY(180deg); }
  }
  
  @keyframes moveDuck2 {
      0% { transform: translate(105vw, 0) rotateY(180deg); }
      50% { transform: translate(12vw, 10px) rotateY(180deg); }
      51% { transform: translate(12vw, 10px) rotateY(0deg); }
      100% { transform: translate(105vw, 0); }
  }
}

.duck {
    position: fixed;
    bottom: 0%;
    left: -10%;
    width: 80px;
    height: auto;
    animation: moveDuck 10s linear infinite;
}

.duck2 {
    position: fixed;
    bottom: 0%;
    left: -10%;
    width: 80px;
    height: auto;
    animation: moveDuck2 10s linear infinite;
}

#letter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.letter {
    background: white;
    padding: 20px;
    color: black;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Times New Roman', serif;
}

.letter button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

